@{
    ViewData["Title"] = "Order Completed";
}

<div class="container mt-5 text-center">
    <h1 class="text-success">Thank you for buying our mech!</h1>
    <p class="mt-3">Your order has been placed!</p>
    <a href="/Catalog" class="btn btn-primary mt-4">Continue Shopping</a>
</div>