@{
    Layout = "_LandingLayout"; // Use the special landing page layout
}

<div class="landing-container">
    <div class="big-text">
        <h1><span class="hidden-text">We Create</span></h1>
        <h1><span class="hidden-text">Unfogettable</span></h1>
        <h1><span class="hidden-text">Moment</span></h1>
        <h1><span class="hidden-text">& Memories</span></h1>
    </div>

    <div class="enter-site-link">
        <a href="@Url.Action("Index", "Home")" id="enter-link" class="enter-button">Enter Site</a>
    </div>
</div>